<div class="container-fluid">
  <div class="body p-5 bg-white">
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
      <div class="mb-3 text-uppercase form-label">
        <h5>Clinic Appointment Booking</h5>
      </div>
      <div class="mb-3 text-uppercase text-primary form-label">sign Up</div>
      <div class="d-flex">
        <div class="mb-3 me-1 w-50">
          <label for="name" class="form-label">UserName *</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            ngModel
            required
          />
          <div id="nameText" class="form-text" style="display: none"></div>
        </div>
        <div class="mb-3 ms-1 w-50">
          <label for="email" class="form-label">Email *</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            name="email"
            ngModel
            required
          />
          <div id="emailText" class="form-text" style="display: none"></div>
        </div>
      </div>
      <div class="d-flex">
        <div class="mb-3 me-1 w-50">
          <label for="address" class="form-label">Address *</label>
          <input
            type="text"
            class="form-control"
            id="address"
            name="address"
            ngModel
            required
          />
          <div id="addressText" class="form-text" style="display: none">
            Address Is Required
          </div>
        </div>
        <div class="mb-3 ms-1 w-50">
          <label for="address" class="form-label">State *</label>
          <input
            type="text"
            class="form-control"
            id="state"
            name="state"
            ngModel
            required
          />
          <div id="stateText" class="form-text" style="display: none">
            State Is Required
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="mb-3 me-1 w-50">
          <label for="country" class="form-label">Country *</label>
          <input
            type="text"
            class="form-control"
            id="country"
            name="country"
            ngModel
            required
          />
          <div id="countryText" class="form-text" style="display: none">
            Country Is Required
          </div>
        </div>
        <div class="mb-3 ms-1 w-50">
          <label for="gender" class="form-label">Gender *</label>
          <select
            ngModel
            required
            name="gender"
            id="gender"
            class="form-control"
          >
            <option value="" disabled selected>Select Gender</option>
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
          </select>
          <div id="genderText" class="form-text" style="display: none">
            Gender Is Required
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="mb-3 me-1 w-50">
          <label for="contactNumber" class="form-label">Contact Number *</label>
          <input
            type="number"
            class="form-control"
            id="contactNumber"
            name="contactNumber"
            ngModel
            required
          />
          <div
            id="contactNumberText"
            class="form-text"
            style="display: none"
          ></div>
        </div>
        <div class="mb-3 ms-1 w-50">
          <label for="pan" class="form-label">Date Of Birth *</label>
          <input
            type="date"
            class="form-control"
            id="dateOfBirth"
            name="dateOfBirth"
            ngModel
            required
          />
          <div id="dateOfBirthText" class="form-text" style="display: none">
            Date Of Birth Is Required
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="mb-3 me-1 w-50">
          <label for="password" class="form-label">Password *</label>
          <input
            [type]="PasswordType"
            class="form-control"
            id="password"
            name="password"
            ngModel
            required
          />
          <div id="passwordText" class="form-text" style="display: none">
            Password Is Required
          </div>
        </div>
        <div class="mb-3 ms-1 w-50">
          <label for="confirmPassword" class="form-label"
            >Confirm Password *</label
          >
          <input
            [type]="PasswordType"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            ngModel
            required
          />
          <div id="confirmPasswordText" class="form-text" style="display: none">
            Confirm Password Is Required
          </div>
        </div>
      </div>
      <div class="mb-3 form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="showPasswordCheck"
          (change)="handleShowPassword()"
        />
        <label class="form-check-label" for="showPasswordCheck"
          >Show Password</label
        >
      </div>
      <div class="text-center">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="w-75 text-center mb-2"
        >
          Registration
        </button>
        <button
          mat-button
          type="submit"
          class="text-center w-75 mt-2 text-primary"
          (click)="handleSignInRedirect()"
        >
          Already Have Account?
        </button>
      </div>
    </form>
  </div>

  <!-- Toast -->
  <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
    <div
      id="ToastOperation"
      class="toast"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="toast-header">
        <strong class="me-auto toast-title"></strong>
        <!-- <small>11 mins ago</small> -->
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
      <div class="toast-body text-white"></div>
    </div>
  </div>
  <!-- End Toast -->
</div>
